In [ ]:
x = 1,2,3,4,5
print(x)

In [ ]:
data = (1,2,3,'apple','banana')
print(data)

In [ ]:
data.count(2)

In [ ]:
data.index('apple')

In [ ]:
x = [1,2,3]
xt = tuple(x) # convert to tuple
print(x, xt)
xl = list(xt) # tuple to list
print(x, xt, xl)
xs = set(xl) # list to set
print(x, xt, xl, xs)
[1, 2, 3] (1, 2, 3)
[1, 2, 3] (1, 2, 3) [1, 2, 3]
[1, 2, 3] (1, 2, 3) [1, 2, 3] {1, 2, 3}